body {
    background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    text-align:center;
    padding:100px;
    }  
.name{
    color:#303841;
    text-size: 110px;
} 
p{
    color:#be3144;
    font-size:50px;
    text-shadow:2px 1px #303841;
}
h1 {
    color:#d3d6db;
    text-shadow: 0.5px 1px gray;
    font-size:100px;
}
h2{
    color:#be3144;
    font-size:50px;
    text-shadow:2px 1px #303841;
}
html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:100%;
}