body {
    background: #1a1a1a;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    text-align:center;
    padding:100px;
    }  
.name{
    color:#fdfdfd;
    text-size: 110px;
} 
.name span {
    color:#be3144;
}
p{
    color:#ffffff;
    font-size:50px;
    text-shadow:2px 1px #303841;
}
.selfie {
    border-radius: 10%;
    height:400px;
    float:left;
}
.Linkedin {
    height: 120px;
}
.GitHub {
    height: 120px;
    
}
.Github.hover {
    color:#be3144
}
.Linkedin:hover {
    color:#be3144;
}
h1 {
    color:#d3d6db;
    text-shadow: 0.5px 1px gray;
    font-size:100px;
}
h2{
    color:#fcf9f9;
    font-size:50px;
    text-shadow:2px 1px #303841;
}
html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:100%;
}